dwm.font: JetBrains Mono :size=12
st.font: JetBrains Mono:size=12
!st.font: Comic Mono:size=14

dwm.normbgcolor: #070707
dwm.selbgcolor: #1F487E
dwm.normbordercolor: #808080 
dwm.selbordercolor: #1F487E

dwm.topbar: 1
dwm.mfact: 0.5
dwm.borderpx: 2
