dwm.font: monospace:size=14
st.font: monospace:size=14
!st.font: monaco:size=14

! bright grey
dwm.normbordercolor: #808080 
! green
dwm.selbordercolor: #3cfb17

dwm.topbar: 1

! horiz inner gap between windows
dwm.gappih: 5
! vert inner gap between windows
dwm.gappiv: 5
! horiz outer gap between windows
dwm.gappoh: 0
! vert outer gap between windows
dwm.gappov: 0
